:root {
    font-size: 62.5%;
    overflow: hidden;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    display: flex;
    text-align: center;
    justify-content: center;
}
#instructions {
    margin-top: 10%;
    display: block;
    width: 400px;
    height: 170px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    justify-content: center;
}
#playButton {
    border: 1px solid black;
    background-color: green;
    font-size: 30px;
}
#playButton:hover{
    background-color: red;
}
#canvas-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
#hud{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 100%;
    user-select: none;
    color: red;
    font-size: 7rem;
}
